<article class="post d-flex row">
    <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
    </div>
    <div class="post-body">
       <a href="/post/{{id}}" target="_blank">{{post_content}}</a>
    </div>
    <div class="meta userDate">
        by {{user.username}} on {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>